body {
    overflow-x: hidden;
}

.mario {
    position: relative;
    width: 50px;
    top: 430px;
}
.brick1 {
    position: absolute;
    top: 386px;
    left: 500px
}
.brick2 {
    position: absolute;
    top: 386px;
    left: 531px
}
.mushroom-kingdom{
    background:url('mario/img/fond.jpg');
    background-size: contain;
    min-width: 6338px;
    height:550px;  
    max-width:1500px; 
    margin:0 auto;
}